// ---------- Mixins for General ----------

@mixin button02 {
  display: inline-block;
  width: 177px;
  height: 64px;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 1.75;
  font-weight: 600;
  padding: 17px 0 0 40px;
  color: #ffffff;
  background: #ff6433;
  border-radius: 12px;
  white-space: nowrap;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}

// ---------- Mixins for Section OFFER ----------
@mixin cols {
  background-color: white;
  height: 232px;
  display: flex;
  position: relative;
  align-items: end;
  justify-content: center;
  padding-bottom: 25px;
  transition: all 0.5s;
}

@mixin cols-after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: all 0.5s;
}

@mixin cols-hover {
  background-color: #ff6433;
  color: white;
}

// ------------------------------------------------
