@use "../node_modules/sass-rem/" as to;

@import "./sass/fonts.scss";
@import "./sass/variables";
@import "./sass/mixins";

// ------------- fonts set up --------------

html,
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: to.rem(16px);
  font-weight: 600;
  line-height: 1.75;
  color: rgba(30, 27, 27, 1);
}

.heading01 {
  font-weight: 600;
  font-size: to.rem(64px);
  line-height: 1.31;
  letter-spacing: -0.015em;
}

.heading02 {
  font-weight: 800;
  font-size: to.rem(58px);
  line-height: to.rem(76px);
  letter-spacing: -2px;
}

.heading03 {
  font-weight: 700;
  font-size: to.rem(48px);
  line-height: 140%;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 1);
}

.body01 {
  font-weight: 600;
  font-size: to.rem(18px);
  line-height: 1.75;
}

.body02 {
  font-weight: 600;
  font-size: to.rem(16px);
  line-height: 1.75;
}

.caption {
  font-weight: 500;
  font-size: to.rem(16px);
  line-height: 1.5;
  opacity: 0.7;
}

.title01 {
  font-weight: 700;
  font-size: to.rem(32px);
  line-height: 1.5;
  letter-spacing: -2px;
}

.title02 {
  font-weight: 600;
  font-size: to.rem(24px);
  line-height: 1.5;
  letter-spacing: -2px;
}

//! ---------------------------------------------
//! ----------- GLOBAL CLASSES ------------------
//! ---------------------------------------------

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: to.rem(1320px);
  padding: to.rem(0px 20px);
  margin: 0px auto;
  height: 100%;
}

// --- button Longer-Orange ---
.btn1 {
  @include button01();
}
// --- button Shorter-Orange ---
.btn2 {
  @include button02();
}
// --- button Shorter-Black ---
.btn3 {
  @include button03();
}

/*! =================== HEADER TOP ================== */
/*! =================== HEADER TOP ================== */

.header {
  height: 937px;
  display: flex;
  flex-direction: column;
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.header__logo {
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;

  &:last-child {
    margin: 0px;
  }
}

.header__nav-link {
}

.header__box {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 54px;
  margin-left: 3px;
  position: relative;
  &::before {
    content: "";
    background: url("../images/section-01/assistance-icon.svg");
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 7px;
    left: 27px;
  }
}

.header__top-inner > span {
  background: rgba(147, 145, 145, 1);
  height: 42px;
  width: 1px;
  margin-left: 37px;
  margin-top: -3px;
}

.header__box-assistance {
  letter-spacing: 0.7px;
  justify-content: end;
}

.header__box-phone {
  letter-spacing: 0.5px;
}

.header__box-phone::before {
}

/*! =================== HEADER BODY ================== */
/*! =================== HEADER BODY ================== */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__content {
  display: flex;
  flex-direction: column;

  .header__row1 {
    margin-top: 162px;
    letter-spacing: -1.1px;
  }

  .header__row2 {
    display: inline-flex;
    margin-top: 20px;
    align-items: center;

    .header__button {
      margin-top: 10px;
    }

    .header__video {
      display: inline-flex;
      align-items: center;
      margin-top: 10px;
      padding-left: 50px;
      letter-spacing: -0.4px;
    }

    svg {
      margin-right: 9px;
    }
  }

  .header__row3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 45px;
    position: relative;
    &::before {
      content: "";
      background: url("../images/section-01/open-icon.svg");
      width: 31px;
      height: 31px;
      display: block;
      position: absolute;
      top: 20%;
      left: 0%;
      // transform: translate(50%, 50%);
    }

    .header__open {
    }
    .header__schedule {
    }
  }
}

.header__image {
  position: relative;

  > img {
    margin-top: 76px;
  }

  .header__left-badge {
    display: flex;
    position: absolute;
    width: to.rem(302px);
    height: to.rem(126px);
    border-radius: 59px;
    top: 20.4%;
    left: -6.9%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-clip: padding-box;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 59px;
  }

  .header__quick-service {
    margin-left: 60px;
    font-weight: 600;
    font-size: to.rem(24px);
    line-height: to.rem(36px);
    letter-spacing: -1px;
    position: relative;
    &::before {
      content: "";
      background: url("../images/section-01/24hr-icon.svg");
      width: 71px;
      height: 70px;
      display: block;
      position: absolute;
      top: 50%;
      left: -9%;
      transform: translate(-100%, -50%);
    }
  }

  .header__right-badge {
    display: flex;
    position: absolute;
    width: to.rem(346px);
    height: to.rem(125px);
    top: 74%;
    left: 47.8%;
    background: #ffffff;
    background-clip: padding-box;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 62px;
    justify-content: start;
    align-items: center;
  }

  .header__evaluation {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-left: 38px;
    position: relative;
    &::after {
      content: "";
      background: url("../images/section-01/stars.svg");
      width: 185px;
      height: 36px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(23%, -50%);
    }
  }

  .header__digits {
    margin-bottom: 4px;
    letter-spacing: 0.3px;
  }
  .header__rating {
    order: 3;
    letter-spacing: 0.5px;
    margin: -10px 0px 0px -1px;
  }
}

/*! =================== SECTION OFFER ================== */
/*! =================== SECTION OFFER ================== */

.offer {
  background-color: #f2f2f2;

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 129px;
  }

  &__header {
  }

  &__title {
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: -1px;
  }

  &__heading {
    margin-top: -32px;
    letter-spacing: -5.45px;
  }

  &__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 8px;
    padding-top: 65px;
  }

  // ------------- OFFER Box#1 --------------
  &__col-1 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-1.svg");
      width: 45px;
      height: 49px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-1w.svg");
        width: 45px;
        height: 49px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#2 --------------
  &__col-2 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-2.svg");
      width: 43px;
      height: 43px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-2w.svg");
        width: 43px;
        height: 43px;
        @include cols-after();
      }
    }
  }

  // ------------- OFFER Box#3 --------------
  &__col-3 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-3.svg");
      width: 47px;
      height: 46px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-3w.svg");
        width: 47px;
        height: 46px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#4 --------------
  &__col-4 {
    @include cols();
    padding-bottom: 60px;

    &::after {
      content: "";
      background: url("../images/section-02/2-4.svg");
      width: 33px;
      height: 46px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-4w.svg");
        width: 33px;
        height: 46px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#5 --------------
  &__col-5 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-5.svg");
      width: 55px;
      height: 39px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-5w.svg");
        width: 55px;
        height: 39px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#6 --------------
  &__col-6 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-6.svg");
      width: 45px;
      height: 39px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-6w.svg");
        width: 45px;
        height: 39px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#7 --------------
  &__col-7 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-7.svg");
      width: 37px;
      height: 47px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-7w.svg");
        width: 37px;
        height: 47px;
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#8 --------------
  &__col-8 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-8.svg");
      width: 47px;
      height: 47px;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-8w.svg");
        width: 47px;
        height: 47px;
        @include cols-after();
      }
    }
  }

  .title02 {
    letter-spacing: -0.03em;
  }

  &__more {
    align-self: end;
    margin-top: 32px;
    margin: 33px -7px 0px 0px;
    white-space: nowrap;
    position: relative;

    span {
      margin-right: 8px;
    }

    &:hover {
      transform: scale(1.05);
      color: #ff6433;
    }

    &:hover path {
      transform: scale(1.02);
      fill: #ff6433;
    }
  }
}

/*! =================== SECTION HELP ================== */
/*! =================== SECTION HELP ================== */

.help {
  padding: 133px 0 135px 0;

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__left-side {
    .heading02 {
      letter-spacing: -5.5px;
    }

    .body02 {
      letter-spacing: -0.1px;
    }

    p {
      padding-top: 18px;
    }
  }

  &__button {
    margin-top: 32px;
  }

  &__right-side {
    padding: 16px 0px 0px 110px;
    position: relative;

    &::before {
      content: "";
      background: url("../images/section-03/Group\ 9128.svg");
      display: block;
      width: 72px;
      height: 434px;
      position: absolute;
      top: 0;
      left: 2.5%;
    }

    li:not(:first-child) {
      padding-top: 30px;
    }

    p {
      padding-top: 8px;
      padding-right: 200px;
    }

    .title01 {
      letter-spacing: -0.8px;
    }
    .body01 {
      letter-spacing: -0.1px;
    }
  }
}

/*! =================== SECTION QUERY ================== */
/*! =================== SECTION QUERY ================== */

.query {
  margin-bottom: 50px;
  &__inner {
  }

  &__grid {
    display: grid;
    grid-template-columns: 16.73% 37.32% 45.95%;
    column-gap: 0px;
    margin-right: -15px;
  }

  img {
    max-height: 502px;
  }

  .middle {
    background-color: #ff6433;
    margin-left: -6px;
    padding-top: 130px;
  }

  &__heading {
    margin-left: 80px;
    letter-spacing: -1px;
    padding-right: 30px;
  }

  &__button {
    margin-top: 45px;
    margin-left: 62px;
  }

  &__values {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    margin-left: -6px;
    margin-top: 50px;
  }

  &__quantity {
    color: rgba(102, 28, 231, 1);
  }

  .heading02 {
    font-weight: 700;
    letter-spacing: 1px;
  }

  .title02 {
    letter-spacing: -0.5px;
  }
}

/*! =================== SECTION BRANDS ================== */
/*! =================== SECTION BRANDS ================== */

.brands {
  background-color: #e2e6e9;
  padding-top: 124px;
  padding-bottom: 80px;
  // padding-bottom: 100px;

  &__heading {
    text-align: center;
  }

  // .brands__logos-ul

  &__logos-ul {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    margin-top: 35px;
    gap: 40px 40px;
  }

  // .brands__logo

  &__logo {
    height: 127.88px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*! =================== SECTION BLOG ================== */
/*! =================== SECTION BLOG ================== */

.blog {
  padding: 125px 0 133px 0;

  &__title {
    letter-spacing: -5px;
    margin-left: -3px;
    margin-bottom: 55px;
  }

  &__filter-box {
    margin-bottom: 50px;
  }

  &__filter-item {
    display: inline-flex;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__filter-btn {
    background-color: transparent;
    color: #9a9ca5;
    border: 1px solid #9a9ca5;
    border-radius: 4px;
    padding: 1px 8px;
    white-space: nowrap;

    &--active {
      background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
      border: none;
      color: #fff;
      padding: 2px 8px;
    }
  }

  &__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 62px 30px;
  }

  &__list-item {
    overflow: hidden;
  }

  &__image-box {
    margin-bottom: 25px;
  }

  .body02 {
    color: #939191;
  }

  &__article-title {
    margin: 16px 0;
    letter-spacing: -1px;
  }

  &__article-text {
    letter-spacing: -0.2px;
  }
}

/*! =================== SECTION CUSTOMERS ================== */
/*! =================== SECTION CUSTOMERS ================== */

.customers {
  background-color: #f2f2f2;
  padding: 128px 0px 145px 0px;

  &__inner {
  }

  &__heading {
    padding: 0px 160px;
    text-align: center;
    letter-spacing: -5px;
  }

  &__slider-wrapper {
    margin-top: 80px;
    position: relative;
  }

  &__slide {
    &:nth-child(2n + 1) {
      .customers__slide-inner {
        margin-right: 30px;
        padding: 70px 71px;
      }
    }

    &:nth-child(2n) {
      .customers__slide-inner {
        margin-left: 25px;
        padding: 70px 71px;
      }
    }
  }

  &__slide-inner {
    background-color: white;
  }

  &__user {
    display: flex;
  }

  &__avatar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  &__info {
    padding-left: 14px;
  }

  &__info-name {
    padding-top: 2px;
    letter-spacing: -1px;
  }

  &__info-city {
  }

  &__quote {
    margin-top: 22px;
    letter-spacing: -1px;
  }

  &__arrow {
    position: absolute;
    top: 110.5%;
    margin-right: 12px;
    z-index: 5;

    path {
      transition: all 0.3s;
    }

    &:hover path {
      fill: white;
      transform: scale(1.05);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      left: -50%;
      height: 48px;
      width: 48px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      transform: translate(50%, 50%);
      z-index: -2;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      left: -50%;
      height: 48px;
      width: 48px;
      background-color: black;
      border-radius: 50%;
      transform: translate(50%, 50%);
      z-index: -1;
    }
  }

  &__prev {
    right: 6.8%;

    &::after {
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1.2);
    }

    &::before {
      transform: scale(1);
    }

    &:hover::before {
      transform: scale(0);
    }
  }

  &__next {
    right: 0.6%;

    &::after {
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1.2);
    }

    &::before {
      transform: scale(1);
    }

    &:hover::before {
      transform: scale(0);
    }
  }

  &__dots {
    margin-top: 31px;

    button {
      font-size: 0;
      background-color: transparent;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        height: 4px;
        width: 100px;
        background-color: rgba(147, 145, 145, 1);
        border-radius: 4px;
      }
    }

    li {
      margin-right: 12px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-active {
      button {
        &::before {
          background-color: rgba(255, 100, 51, 1);
          transition: all 0.3s;
        }
      }
    }
  }
}

/*! =================== SECTION FAQ ================== */
/*! =================== SECTION FAQ ================== */
