@use "../node_modules/sass-rem/" as to;

@import "./sass/fonts.scss";
@import "./sass/variables";
@import "./sass/mixins";

// ------------- fonts set up --------------

html,
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: to.rem(16px);
  font-weight: 600;
  line-height: 1.75;
  color: rgba(30, 27, 27, 1);
}

.heading01 {
  font-weight: 600;
  font-size: to.rem(64px);
  line-height: 1.31;
  letter-spacing: -0.015em;
}

.heading02 {
  font-weight: 800;
  font-size: to.rem(58px);
  line-height: to.rem(76px);
  letter-spacing: -2px;
}

.heading03 {
  font-weight: 700;
  font-size: to.rem(48px);
  line-height: 140%;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 1);
}

.body01 {
  font-weight: 600;
  font-size: to.rem(18px);
  line-height: 1.75;
}

.body02 {
  font-weight: 600;
  font-size: to.rem(16px);
  line-height: 1.75;
}

.caption {
  font-weight: 500;
  font-size: to.rem(16px);
  line-height: 1.5;
  opacity: 0.7;
}

.title01 {
  font-weight: 700;
  font-size: to.rem(32px);
  line-height: 1.5;
  letter-spacing: -2px;
}

.title02 {
  font-weight: 600;
  font-size: to.rem(24px);
  line-height: 1.5;
  letter-spacing: -2px;
}

//! ---------------------------------------------
//! ----------- GLOBAL CLASSES ------------------
//! ---------------------------------------------

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: to.rem(1320px);
  padding: to.rem(0px 20px);
  margin: 0px auto;
  height: 100%;
}

// --- button Longer-Orange ---
.btn1 {
  @include button01();
}
// --- button Shorter-Orange ---
.btn2 {
  @include button02();
}
// --- button Shorter-Black ---
.btn3 {
  @include button03();
}

/*! =================== HEADER TOP ================== */
/*! =================== HEADER TOP ================== */

.header {
  height: to.rem(937px);
  display: flex;
  flex-direction: column;
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: to.rem(19px 0);
}

.header__logo {
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: to.rem(40px);

  &:last-child {
    margin: 0;
  }
}

.header__nav-link {
}

.header__box {
  width: to.rem(210px);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: to.rem(54px);
  margin-left: to.rem(3px);
  position: relative;
  &::before {
    content: "";
    background: url("../images/section-01/assistance-icon.svg");
    width: to.rem(40px);
    height: to.rem(40px);
    display: block;
    position: absolute;
    top: to.rem(7px);
    left: to.rem(27px);
  }
}

.header__top-inner > span {
  background: rgba(147, 145, 145, 1);
  height: to.rem(42px);
  width: to.rem(1px);
  margin-left: to.rem(37px);
  margin-top: to.rem(-3px);
}

.header__box-assistance {
  letter-spacing: to.rem(0.7px);
  justify-content: end;
}

.header__box-phone {
  letter-spacing: to.rem(0.5px);
}

.header__box-phone::before {
}

/*! =================== HEADER BODY ================== */
/*! =================== HEADER BODY ================== */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__content {
  display: flex;
  flex-direction: column;

  .header__row1 {
    margin-top: to.rem(162px);
    letter-spacing: to.rem(-1.1px);
  }

  .header__row2 {
    display: inline-flex;
    margin-top: to.rem(20px);
    align-items: center;

    .header__button {
      margin-top: to.rem(10px);
    }

    .header__video {
      display: inline-flex;
      align-items: center;
      margin-top: to.rem(10px);
      padding-left: to.rem(50px);
      letter-spacing: to.rem(-0.4px);
    }

    svg {
      margin-right: to.rem(9px);
    }
  }

  .header__row3 {
    display: flex;
    flex-direction: column;
    margin-top: to.rem(50px);
    padding-left: to.rem(45px);
    position: relative;
    &::before {
      content: "";
      background: url("../images/section-01/open-icon.svg");
      width: to.rem(31px);
      height: to.rem(31px);
      display: block;
      position: absolute;
      top: 20%;
      left: 0%;
      // transform: translate(50%, 50%);
    }
  }
}

.header__image {
  position: relative;

  > img {
    margin-top: to.rem(76px);
  }

  .header__left-badge {
    display: flex;
    position: absolute;
    width: to.rem(302px);
    height: to.rem(126px);
    border-radius: to.rem(59px);
    top: 20.4%;
    left: -6.9%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-clip: padding-box;
    border: to.rem(12px) solid rgba(225, 225, 225, 0.43);
    box-shadow: to.rem(0px 28px 118px rgba(109, 108, 115, 0.12));
    border-radius: to.rem(59px);
  }

  .header__quick-service {
    margin-left: 60px;
    font-weight: 600;
    font-size: to.rem(24px);
    line-height: to.rem(36px);
    letter-spacing: -1px;
    position: relative;
    &::before {
      content: "";
      background: url("../images/section-01/24hr-icon.svg");
      width: 71px;
      height: 70px;
      display: block;
      position: absolute;
      top: 50%;
      left: -9%;
      transform: translate(-100%, -50%);
    }
  }

  .header__right-badge {
    display: flex;
    position: absolute;
    width: to.rem(346px);
    height: to.rem(125px);
    top: 74%;
    left: 47.8%;
    background: #ffffff;
    background-clip: padding-box;
    border: to.rem(12px solid rgba(225, 225, 225, 0.43));
    box-shadow: to.rem(0px 28px 118px rgba(109, 108, 115, 0.12));
    border-radius: to.rem(62px);
    justify-content: start;
    align-items: center;
  }

  .header__evaluation {
    display: flex;
    flex-direction: column;
    margin-top: to.rem(6px);
    margin-left: to.rem(38px);
    position: relative;
    &::after {
      content: "";
      background: url("../images/section-01/stars.svg");
      width: to.rem(185px);
      height: to.rem(36px);
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(23%, -50%);
    }
  }

  .header__digits {
    margin-bottom: to.rem(4px);
    letter-spacing: to.rem(0.3px);
  }
  .header__rating {
    order: 3;
    letter-spacing: to.rem(0.5px);
    margin: to.rem(-10px 0px 0px -1px);
  }
}

/*! =================== SECTION OFFER ================== */
/*! =================== SECTION OFFER ================== */

.offer {
  background-color: #f2f2f2;

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: to.rem(85px);
    padding-bottom: to.rem(174px);
  }

  &__header {
  }

  &__title {
    letter-spacing: to.rem(1px);
    padding-left: to.rem(10px);
    margin-top: to.rem(-1px);
  }

  &__heading {
    margin-top: to.rem(-32px);
    letter-spacing: to.rem(-5.45px);
  }

  &__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: to.rem(8px);
    padding-top: to.rem(65px);
  }

  // ------------- OFFER Box#1 --------------
  &__col-1 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-1.svg");
      width: to.rem(45px);
      height: to.rem(49px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-1w.svg");
        width: to.rem(45px);
        height: to.rem(49px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#2 --------------
  &__col-2 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-2.svg");
      width: to.rem(43px);
      height: to.rem(43px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-2w.svg");
        width: to.rem(43px);
        height: to.rem(43px);
        @include cols-after();
      }
    }
  }

  // ------------- OFFER Box#3 --------------
  &__col-3 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-3.svg");
      width: to.rem(47px);
      height: to.rem(46px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-3w.svg");
        width: to.rem(47px);
        height: to.rem(46px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#4 --------------
  &__col-4 {
    @include cols();
    padding-bottom: to.rem(60px);

    &::after {
      content: "";
      background: url("../images/section-02/2-4.svg");
      width: to.rem(33px);
      height: to.rem(46px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-4w.svg");
        width: to.rem(33px);
        height: to.rem(46px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#5 --------------
  &__col-5 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-5.svg");
      width: to.rem(55px);
      height: to.rem(39px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-5w.svg");
        width: to.rem(55px);
        height: to.rem(39px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#6 --------------
  &__col-6 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-6.svg");
      width: to.rem(45px);
      height: to.rem(39p) x;
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-6w.svg");
        width: to.rem(45px);
        height: to.rem(39px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#7 --------------
  &__col-7 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-7.svg");
      width: to.rem(37px);
      height: to.rem(47px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-7w.svg");
        width: to.rem(37px);
        height: to.rem(47px);
        @include cols-after();
      }
    }
  }
  // ------------- OFFER Box#8 --------------
  &__col-8 {
    @include cols();

    &::after {
      content: "";
      background: url("../images/section-02/2-8.svg");
      width: to.rem(47px);
      height: to.rem(47px);
      @include cols-after();
    }

    &:hover {
      @include cols-hover();
      &::after {
        content: "";
        background: url("../images/section-02/2-8w.svg");
        width: to.rem(47px);
        height: to.rem(47px);
        @include cols-after();
      }
    }
  }

  .title02 {
    letter-spacing: -0.03em;
  }

  &__more {
    align-self: end;
    margin-top: to.rem(32px);
    margin: to.rem(33px -7px 0px 0px);
    white-space: nowrap;
    position: relative;

    span {
      margin-right: to.rem(8px);
    }

    &:hover {
      transform: scale(1.05);
      color: #ff6433;
    }

    &:hover path {
      transform: scale(1.02);
      fill: #ff6433;
    }
  }
}

/*! =================== SECTION HELP ================== */
/*! =================== SECTION HELP ================== */

.help {
  padding: to.rem(133px 0 135px 0);

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__left-side {
    .heading02 {
      letter-spacing: to.rem(-5.5px);
    }

    .body02 {
      letter-spacing: to.rem(-0.1px);
    }

    p {
      padding-top: to.rem(18px);
    }
  }

  &__button {
    margin-top: to.rem(32px);
  }

  &__right-side {
    padding: to.rem(16px 0px 0px 110px);
    position: relative;

    &::before {
      content: "";
      background: url("../images/section-03/Group\ 9128.svg");
      display: block;
      width: to.rem(72px);
      height: to.rem(434px);
      position: absolute;
      top: 0;
      left: 2.5%;
    }

    li:not(:first-child) {
      padding-top: to.rem(30px);
    }

    p {
      padding-top: to.rem(8px);
      padding-right: to.rem(200px);
    }

    .title01 {
      letter-spacing: to.rem(-0.8px);
    }
    .body01 {
      letter-spacing: to.rem(-0.1px);
    }
  }
}

/*! =================== SECTION QUERY ================== */
/*! =================== SECTION QUERY ================== */

.query {
  margin-bottom: to.rem(50px);
  &__inner {
  }

  &__grid {
    display: grid;
    grid-template-columns: 16.73% 37.32% 45.95%;
    column-gap: to.rem(0px);
    margin-right: to.rem(-15px);
  }

  img {
    max-height: to.rem(502px);
  }

  .middle {
    background-color: #ff6433;
    margin-left: to.rem(-6px);
    padding-top: to.rem(130px);
  }

  &__heading {
    margin-left: to.rem(80px);
    letter-spacing: to.rem(-1px);
    padding-right: to.rem(30px);
  }

  &__button {
    margin-top: to.rem(45px);
    margin-left: to.rem(62p) x;
  }

  &__values {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    margin-left: to.rem(-6px);
    margin-top: to.rem(50px);
  }

  &__quantity {
    color: rgba(102, 28, 231, 1);
  }

  .heading02 {
    font-weight: 700;
    letter-spacing: to.rem(1px);
  }

  .title02 {
    letter-spacing: to.rem(-0.5px);
  }
}

/*! =================== SECTION BRANDS ================== */
/*! =================== SECTION BRANDS ================== */

.brands {
  background-color: #e2e6e9;
  padding-top: to.rem(124px);
  padding-bottom: to.rem(80px);
  // padding-bottom: 100px;

  &__heading {
    text-align: center;
  }

  // .brands__logos-ul

  &__logos-ul {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    margin-top: to.rem(35px);
    gap: to.rem(40px 40px);
  }

  // .brands__logo

  &__logo {
    height: to.rem(127.88px);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*! =================== SECTION BLOG ================== */
/*! =================== SECTION BLOG ================== */

.blog {
  padding: to.rem(125px 0 133px 0);

  &__title {
    letter-spacing: to.rem(-5px);
    margin-left: to.rem(-3px);
    margin-bottom: to.rem(55px);
  }

  &__filter-box {
    margin-bottom: to.rem(50px);
  }

  &__filter-item {
    display: inline-flex;
    margin-right: to.rem(30px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__filter-btn {
    background-color: transparent;
    color: #9a9ca5;
    border: to.rem(1px solid #9a9ca5);
    border-radius: to.rem(4px);
    padding: to.rem(1px 8px);
    white-space: nowrap;

    &--active {
      background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
      border: none;
      color: #fff;
      padding: to.rem(2px 8px);
    }
  }

  &__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: to.rem(62px 30px);
  }

  &__list-item {
    overflow: hidden;
  }

  &__image-box {
    margin-bottom: to.rem(25px);
  }

  .body02 {
    color: #939191;
  }

  &__article-title {
    margin: to.rem(16px 0);
    letter-spacing: to.rem(-1px);
  }

  &__article-text {
    letter-spacing: to.rem(-0.2px);
  }
}

/*! =================== SECTION CUSTOMERS ================== */
/*! =================== SECTION CUSTOMERS ================== */

.customers {
  background-color: #f2f2f2;
  padding: to.rem(128px 0px 145px 0px);

  &__inner {
  }

  &__heading {
    padding: to.rem(0px 160px);
    text-align: center;
    letter-spacing: to.rem(-5px);
  }

  &__slider-wrapper {
    margin-top: to.rem(80px);
    position: relative;
  }

  &__slide {
    &:nth-child(2n + 1) {
      .customers__slide-inner {
        margin-right: to.rem(30px);
        padding: to.rem(70px 71px);
      }
    }

    &:nth-child(2n) {
      .customers__slide-inner {
        margin-left: to.rem(25px);
        padding: to.rem(70px 71px);
      }
    }
  }

  &__slide-inner {
    background-color: white;
  }

  &__user {
    display: flex;
  }

  &__avatar img {
    width: to.rem(65px);
    height: to.rem(65px);
    border-radius: 50%;
  }

  &__info {
    padding-left: to.rem(14px);
  }

  &__info-name {
    padding-top: to.rem(2px);
    letter-spacing: to.rem(-1px);
  }

  &__info-city {
  }

  &__quote {
    margin-top: to.rem(22px);
    letter-spacing: to.rem(-1px);
  }

  &__arrow {
    position: absolute;
    top: 110.5%;
    margin-right: to.rem(12px);
    z-index: 5;

    path {
      transition: all 0.3s;
    }

    &:hover path {
      fill: white;
      transform: scale(1.05);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      left: -50%;
      height: to.rem(48px);
      width: to.rem(48px);
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      transform: translate(50%, 50%);
      z-index: -2;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      left: -50%;
      height: to.rem(48px);
      width: to.rem(48px);
      background-color: black;
      border-radius: 50%;
      transform: translate(50%, 50%);
      z-index: -1;
    }
  }

  &__prev {
    right: 6.8%;

    &::after {
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1.2);
    }

    &::before {
      transform: scale(1);
    }

    &:hover::before {
      transform: scale(0);
    }
  }

  &__next {
    right: 0.6%;

    &::after {
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1.2);
    }

    &::before {
      transform: scale(1);
    }

    &:hover::before {
      transform: scale(0);
    }
  }

  &__dots {
    margin-top: to.rem(31px);

    button {
      font-size: 0;
      background-color: transparent;
      width: to.rem(32px);
      height: to.rem(32px);
      display: flex;
      align-items: center;

      &::before {
        content: "";
        height: to.rem(4px);
        width: to.rem(100px);
        background-color: rgba(147, 145, 145, 1);
        border-radius: to.rem(4px);
      }
    }

    li {
      margin-right: to.rem(12px);

      &:last-child {
        margin-right: 0px;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-active {
      button {
        &::before {
          background-color: rgba(255, 100, 51, 1);
          transition: all 0.3s;
        }
      }
    }
  }
}

/*! =================== SECTION FAQ ================== */
/*! =================== SECTION FAQ ================== */

.faq {
  background-color: rgba(226, 230, 233, 1);
  padding-bottom: to.rem(128px);

  &__heading {
    padding-top: to.rem(128px);
    text-align: center;
    letter-spacing: to.rem(-5px);
  }

  &__accordeon {
    margin-top: to.rem(88px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__accordeon-item {
    background-color: white;
    width: to.rem(896px);
    height: auto;
    padding: to.rem(0px 42px);
    margin-bottom: to.rem(12px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accordeon-link {
    &--active .faq__accordeon-head::after {
      transform: rotate(0deg);
    }
  }

  &__accordeon-head {
    margin: to.rem(38px 0);
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 1.5%;
      transform: translateY(-50%);
      width: to.rem(18px);
      height: to.rem(2px);
      background-color: rgb(255, 255, 255);
      border-radius: to.rem(2px);
      z-index: 5;
    }

    &::after {
      transform: rotate(90deg);
      transition: all 0.3s;
    }

    span::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -0.3%;
      transform: translateY(-50%);
      width: to.rem(51.08px);
      height: to.rem(48px);
      background-color: #ff3f3a;
    }
  }

  &__accordeon-text {
    color: rgba(147, 145, 145, 1);
    margin-bottom: to.rem(38px);
    margin-top: to.rem(-22px);
    padding-right: to.rem(90px);
  }
}

/*! ================ SECTION CONTACT =============== */
/*! ================ SECTION CONTACT =============== */

.contact {
  padding: to.rem(125px 0px 0px 0px);
  margin-bottom: to.rem(-225px);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__head {
    // padding-right: to.rem(780px);
    margin-bottom: to.rem(47px);
  }

  &__content {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-rows {
    margin-bottom: to.rem(48px);
  }

  &__form-input,
  &__form-text {
    display: block;
    background: #f2f2f2;
    border-radius: to.rem(2px);
    padding: to.rem(13px 42px);
    width: to.rem(624px);
    height: to.rem(72px);
    margin-bottom: to.rem(4px);

    &::placeholder {
      color: rgba(30, 27, 27, 1);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-text {
    resize: none;
    min-width: to.rem(624px);
    min-height: to.rem(72px);
    padding-top: to.rem(25px);
  }

  &__form-btn {
    width: to.rem(206px);
    padding-top: to.rem(5px);
  }

  &__info {
    padding-left: to.rem(145px);
    margin-bottom: to.rem(110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-link {
    letter-spacing: to.rem(-0.7px);
  }

  &__map {
    margin: to.rem(180px 0px 0px 0px);
    width: 1280px;
    height: 512px;

    iframe {
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
    }
  }
}

/*! ================== FOOTER ================= */
/*! ================== FOOTER ================= */

.footer {
  &__image {
    img {
      height: to.rem(448px);
    }
  }

  &__content {
  }

  &__body {
    background-color: rgba(30, 27, 27, 1);
    opacity: 0.98;
  }

  &__body-inner {
    display: flex;
    justify-content: start;
    padding-bottom: to.rem(130px);
  }

  &__left-column {
    max-width: to.rem(656px);
    padding-right: to.rem(170px);
  }

  &__right-column {
    padding-top: to.rem(100px);
  }

  &__items-box {
    padding-top: to.rem(20px);
  }

  &__title {
    color: #ffffff;
    padding-top: to.rem(130px);
  }

  &__icons {
    display: flex;
    padding-top: to.rem(62px);
  }

  &__icon {
    margin-right: to.rem(23px);
    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    color: #fff;
    padding-top: to.rem(10px);
  }

  &__bottom {
    background-color: rgba(30, 27, 27, 1);
    color: #fff;
  }

  &__bottom-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: to.rem(65px 0px);
  }

  &__logo {
    font-size: to.rem(27px);
    margin-right: to.rem(87px);
    margin-top: to.rem(-11px);
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    color: #fff;
    margin-right: to.rem(40px);
    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    letter-spacing: to.rem(-0.6px);
  }
}
